---
version: '3.5'
services:
  goemaxima:
      image: "{{ goemaxima_docker_image }}"
      environment:
        - GOEMAXIMA_TEMP_DIR=/tmp/maxima
      ports:
        - "{{ goemaxima_external_port }}":"{{ goemaxima_internal_port }}"
      restart: unless-stopped
